{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item" style="margin-top: 5px; margin-bottom: 10px;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div >
      <div style="float: left; width: 25%;">
        <div class="archive__item-teaserNew">
          {% if post.teaser %}
          <img src="{{ post.teaser }}" alt="">
          {% endif %}
        </div>
      </div>

      <div style="margin-left: 2%; margin-bottom: 0px; float: left; width: 73%; max-width: 73%;">
        <div style="margin-bottom: 0px;">
          <h3 class="archive__item-title" itemprop="headline" style="margin-bottom: 8px; margin-top: 0px; font-size: 130%;">
            {{title}}
          </h3>
        </div>

        {% if post.excerpt and site.read_more != 'enabled' %}
        <p style="margin-top: 0px; margin-bottom: 0px;">{{ post.excerpt | markdownify
          }}</p>
        {% endif %}
      </div>
    </div>

  </article>
</div>