{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div style="display: flex; margin-top: 8px; margin-bottom: 5px;">

      <div class="archive__item-teaser1">
        {% if post.teaser %}
        <img src="{{ post.teaser }}" alt="" style="width: 300px; height: fit-content;">
        {% endif %}
      </div>

      <div style="margin-left: 20px;">
        <div style="margin-bottom: 0px;">
          <h3 class="archive__item-title" itemprop="headline" style="margin-bottom: 0px; margin-top: 0px;">
            {{title}}
          </h3>
        </div>

        {% if post.excerpt and site.read_more != 'enabled' %}
        <p style="margin-top: 0px;">{{ post.excerpt | markdownify
          }}</p>
        {% endif %}
      </div>
    </div>

  </article>
</div>